<h1>Register</h1>

<%= form_tag register_path, id: "payment-form" do %>
  <div id="payment-errors"></div>
  <div>
    <%= label_tag "Card Number" %>
  </div>
  <%= text_field_tag "credit_card_number", nil, autocomplete: "off", size: 20 %>
  <div>
    <%= label_tag "CVC" %>
  </div>
  <%= text_field_tag "cvc", nil, autocomplete: "off", size: 4 %>
  <div>
    <%= label_tag "Expiration (MM/YYYY)" %>
  </div>
  <%= text_field_tag "mm", nil, autocomplete: "off", size: 2 %>
  <span> / </span>
  <%= text_field_tag "yyyy", nil, autocomplete: "off", size: 4 %>
<% end %>
